.product-container {
  list-style: none;
  background-color: ghostwhite;
  color: darkslategray;
  border-radius: 25px;
}

.productList {
  gap: 15px;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px [col-start]);
}

.productList__cart {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-inline-start: 0;
}
